# react
.DS_*
*.log
logs
**/*.backup.*
**/*.back.*

# Node.js
node_modules/

# Dependency directories
yarn.lock

# Distribution directories
dist
dist-ssr
*.local

# Build files
dist/

# Vite cache
.vite/

# Mac-specific files
.AppleDouble
.DS_Store
.LSOverride